wldata
wlsave
wlhotfixmod
extracted
*.csv
!amulet_balances.csv
!armor_balances.csv
!gun_balances.csv
!melee_balances.csv
!ring_balances.csv
!spell_balances.csv
!ward_balances.csv
*.csv.bak
*.xlsx
*.txt
*.txt.bak
*.json
*.json.gz
*.dot
*.png
*.svg
wlrefs.sqlite3.zip
wlrefs.sqlite3
wlrefs.zip
mayhem.php
partstuff
